

<footer class="site-footer h-card">
  <!--
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>Digital stream of conscious</p>
      </div>

      <div class="footer-col footer-col-2">
        {%- if site.email -%}
          <ul class="text-align: right"><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></ul>
        {%- endif -%}
      </div>
    </div>

  </div>
  -->
</footer>